.advantages__wrapper {
  padding-top: 37px;
  padding-bottom: 32px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding-top: 47px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    padding-top: 9px;
    padding-bottom: 44px;
  }
}

.advantages__svg {
  @media(min-width: $tablet-width) {
    width: 77px;
    height: 72px;
  }
  @media (min-width:$desktop-width) {
    width: 80px;
    height: 72px;
    padding-left: 157px;
    padding-top: 21px;
  }
}

.advantages__header {
font-size: 18px;
line-height: 26px;
font-weight: 900;
text-transform: uppercase;
text-align: center;
margin: 0;

@media (min-width: $tablet-width) {
  font-size: 21px;
  width: 520px;
  padding-left: 339px;
  padding-bottom: 28px;
}
}

.advantages__causes {
font-size: 14px;
line-height: 21px;
font-weight: 400;
text-transform: uppercase;
text-align: center;
display: block;
margin: 0;
padding-bottom: 44px;
}

@media(min-width:$tablet-width) {
.advantages__causes--home {
grid-column-start: 2;
grid-column-end: 4;
}
}

@media (min-width: $tablet-width) {
.advantages__causes--devil {
grid-column-start: 1;
grid-column-end: 1;
}
}

@media (min-width: $tablet-width) {
.advantages__item--column {
grid-column-start: 3;
grid-column-end: 4;
}
}

.advantages__list {
margin: 0;
padding: 0;
}

@media (min-width: $tablet-width) {
.advantages__list {
display: grid;
grid-template-columns: repeat(3, 256px);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin: 0;
padding: 0;
}
}

@media (min-width: $desktop-width) {
.advantages__list {
grid-template-columns: repeat(3, 400px);
}
}

.advantages__item {
  background-color: #81b3d2;
  text-decoration: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__item--white {
  background-color:#eeeeee;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffff;

  @media (min-width:$tablet-width) {
    font-size: 21px;
    text-align: center;
    width: 190px;
    padding-top: 33px;
    padding-left: 105px;
  }
}

.advantages__title--black{
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffff;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-left: 105px;
    width: 190px;
    text-align: center;
  }
}

.advantages__description--black{
  color: #000000;
}

.advantages__pross-title {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
}

.advantages__pross-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 50px;
    margin: 0;
    width: 300px;
    padding-top: 23px;
  }
}

.advantages__pross-item {
  display: block;
  text-decoration: none;
  height: 211px;

  @media(min-width: $tablet-width) {
    height: auto;
  }
}
