.advantages__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.advantages__causes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages__item {
  background-color: #81b3d2;
  color: #81b3d2;
}

.advantages__item--white {
  background-color:#eeeeee;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.advantages__title--black{
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages__description--black{
  color: #000000;
}

.advantages__pross-title {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.advantages__pross-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.advantages__pross-item {
  display: block;
  text-decoration: none;
}
