.advantages__svg {
  margin-top: 22px;
  @media (min-width: $tablet-width) {
    width: 77px;
    height: 72px;
    margin-top: 0;
  }
  @media (min-width: $desktop-width) {
    width: 80px;
    height: 72px;
  }
}

.advantages__icon {
  @media (min-width: $tablet-width) {
    min-height: 79px;
  }
}

.advantages__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
  padding-left: 10px;
  padding-right: 12px;
  margin-top: -3px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 520px;
    margin: 0 auto 29px;
  }
}

.advantages__picture {
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages__picture--reverse .advantages__item {
  padding-top: 21px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }
}

.advantages__picture--reverse .advantages__span {
  margin-top: -3px;
}

.advantages__picture--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages__causes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.advantages__image {
  display: block;
  max-width: 100%;
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  }
}

.advantages__list--grey {
  background-color: #eee;
  color: #000000;
  padding: 0;
}

.advantages__list--grey .advantages__title,
.advantages__list--grey .advantages__description {
  color: #000000;
}

.advantages__item {
  text-decoration: none;
  display: block;
  padding-top: 31px;
  text-align: center;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 256px;
    flex-shrink: 0;
    padding-top: 53px;
    padding-left: 33px;
    padding-right: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__item-elem:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d6d6d6;
  width: 286px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__item-elem {
  text-decoration: none;
  display: block;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
  padding-left: 11px;
  padding-right: 11px;

  @media (min-width: $tablet-width) {
    padding: 43px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0px;
  }
}

.advantages__break {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffff;
  text-align: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 190px;
    margin: 0 auto 13px;
  }
}

.advantages__title span {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__item-elem .advantages__title {
  margin-top: 0;
  margin-bottom: 13px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffff;
  padding-left: 26px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
  }
}

.advantages__description--ident {
  @media (min-width: $tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advantages__item-elem .advantages__description {
  margin-bottom: 0;
}

.advantages__description--black {
  color: #000000;
}

.advantages__pross-title {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    margin: 0;
    padding-top: 19px;
    padding-bottom: 25px;
  }
}

.advantages__pross-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  padding-left: 47px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.advantages__pross-item {
  display: block;
  text-decoration: none;
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
    padding-top: 60px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
    padding-top: 71px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

.advantages__subtitle {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 37px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-left: 14px;
  }
}

.advantages__subtitle::before {
  content: "";
  width: 100%;
  height: 37px;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../img/intro-line.svg");
  bottom: -17px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__span {
  text-align: center;
  display: block;
  margin-bottom: 17px;
  color: #ffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.advantages__span--black {
  color: #000000;
}

.advantages__wrap {
  display: flex;
  gap: 7px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
