.application__wrapper {
  padding-top: 41px;
  padding-bottom: 49px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 55px;
    max-width: 458px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0 66px;
  }
}
.application__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .application__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .application__title {
    line-height: 30px;
  }
}

.application__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0px;
  padding-top: 2px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-top: 3px;
  }
}

.application__break {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
.application__find {
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  width: max-content;
  padding: 16px 50px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 16px 136px;
  }
}
