.application__wrapper {
  padding-top: 38px;
  padding-left: 29px;
  padding-bottom: 49px;
  margin: 0 auto;
}
.application__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding-right: 29px;
}

@media (min-width: $tablet-width) {
  .application__title {
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .application__title {
    line-height: 30px;
  }
}

.application__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0px;
  padding-right: 28px;
  padding-top: 2px;
}

.application__find {
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  width: max-content;
  padding: 16px 50px;
  margin: 0 auto;
  margin-left: -11px;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    padding: 16px 136px;
  }
}
