.application__wrapper{
  padding-top: 38px;
  padding-left: 29px;
  padding-bottom: 49px;
  margin: 0 auto;
}
.application__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .application__title {
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .application__title {
    line-height: 30px;
  }
}

.application__description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.application__find {
  color: #ffffff;
  background-color:#81b3d2;
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  width: max-content;
  padding: 16px 49px;
  margin: 0 auto;
}
