.attractions__wrapper {
  padding: 24px 20px 19px;

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.attractions__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding-top: 2px;
    padding-right: 3px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.attractions__control {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
}

.attractions__item {
  display: block;
  text-decoration: none;
}

.attractions__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 13px;
}

@media (min-width: $tablet-width) {
  .attractions__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 480px;
    margin: 0 auto;
    gap: 13px 32px;
  }
}

@media (min-width: $desktop-width) {
  .attractions__list {
    display: flex;
    gap: 64px;
    max-width: 870px;
  }
}

.attractions__group {
  border-style: none;
  margin: 0;
  padding: 0;
}

.attractions__text {
  position: relative;
  padding-left: 62px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  display: block;
}

.attractions__text::before {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 5px;
  background-color: #f2f2ff;
  position: absolute;
  left: 0;
  top: 0;
}

.attractions__text::after {
  content: "";
  width: 22px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 14px;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8053 1.30662L20.759 0.22188C20.4736 -0.0739599 19.9029 -0.0739599 19.6176 0.22188L8.29884 11.9569L2.40167 5.84283C2.11633 5.54699 1.54563 5.54699 1.26028 5.84283L0.21401 6.92758C-0.0713367 7.22342 -0.0713367 7.8151 0.21401 8.11094L7.63303 15.8028C7.82326 16 8.01349 16 8.20373 16C8.39396 16 8.58419 15.9014 8.77442 15.8028L21.615 2.48999C22.0906 2.19415 22.0906 1.70108 21.8053 1.30662Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}

.attractions__checkbox:checked + .attractions__text::after {
  opacity: 1;
}

.attractions__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
