.banner__wrapper {
  background-image: url(../img/back-mobile.jpg);
  width: 100%;
  height: 389px;
  background-repeat: no-repeat;
  padding-top: 52px;
  background-size: cover;
  margin: 0;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/back-mobile@2x.jpg);
  }
  @media (min-width: $tablet-width) {
    background-image: url(../img/tablet.jpg);
    height: 518px;
    background-repeat: no-repeat;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/tablet@2x.jpg);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url(../img/desktop.jpg);
    height: 518px;
    background-repeat: no-repeat;
    width: 100%;
    @media (min-resolution: 2dppx) {
      background-image: url(../img/desktop@2x.jpg);
    }
  }
}

.banner__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background-image: url("../img/banner-line-mobile.svg");
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/banner-line-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/banner-line-desktop.svg");
  }
}

.banner__picture {
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .banner__picture {
    height: 78px;
  }
}

@media (min-width: $desktop-width) {
  .banner__picture {
    height: 80px;
  }
}

.banner__slogan {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 38px;
  padding-bottom: 85px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .banner__slogan {
    padding-left: 153px;
    padding-right: 154px;
    padding-top: 25px;
    padding-bottom: 91px;
  }
}

@media (min-width: $desktop-width) {
  .banner__slogan {
    padding-left: 370px;
    padding-right: 370px;
    padding-top: 26px;
  }
}

.banner__svg {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.banner__text {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}
