body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  min-width: 320px;
  background-color: #E7E5E5;
}

html {
  height: 100%;
}


