@media (min-width: $tablet-width) {
  .communication {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.contact__wrapper {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
  border-top: 1px solid #e5e5e5;
}

.contact__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 21px;
  padding-bottom: 5px;
}

.contact__field {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  display: block;
}

.contact__field:not(:last-child) {
  margin-bottom: 16px;
}

.contact__input {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 7px;
  padding-left: 16px;
  width: 100%;
}

.contact__text {
  padding-left: 16px;
}

.contact__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
