@media (min-width: $tablet-width) {
  .communication {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.contact__wrapper {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
  display: grid;
  grid-template-columns: 1fr 58px;
  grid-template-rows: repeat(2, 1fr);
}

.contact__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact__phone-lable {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact__mail-lable {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact__phone-input {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
  background-color: #f2f2f2;
  border-width: inherit;
  padding: 16px;
  width: -webkit-fill-available;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact__mail-input {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
  background-color: #f2f2f2;
  border-width: inherit;
  padding: 16px;
}
