.copyright__svg {
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.copyright:hover {
  color: #81b3d2;
  fill: #81b3d2;
}

.copyright:active {
  color: #b3b3b3;
  fill: #b3b3b3;
}

.copyright__text {
  font-weight: 400;
}
