.gallery__wrapper {
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.gallery__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

@media (min-width: 768px) {
.gallery__header {
  font-size: 30px;
  line-height: 26px;
}
}

.gallery__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.gallery__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.gallery__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.gallery__likes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  color:#000000;
}

@media (min-width: 768px){
.gallery__image {
background-color: #F2F2F2;

}
}

@media (min-width: 1200px){
.gallery__image {
background-color: #FFFFFF;
}
}

@media (min-width: 768px){
.gallery__container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
}

@media (min-width: 1200px){
.gallery__container {
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
}
}

.gallery__picture1 {
background-image: url(../img/photo-1-mobile.jpg);
width: 280px;
height: 280px;
background-repeat: no-repeat;
}

@media (min-width:768px) {
.gallery__picture1 {
background-image: url(../img/photo-1-tablet.jpg);
width: 648px;
height: 400px;
}
}

@media (min-width:1200px) {
.gallery__picture1 {
background-image: url(../img/photo-1-desktop.jpg);
width: 1200px;
height: 400px;
}
}

.gallery__picture2 {
background-image: url(../img/photo-2-mobile.jpg);
width: 280px;
height: 280px;
background-repeat: no-repeat;
}

@media (min-width:768px) {
.gallery__picture2 {
background-image: url(../img/photo-2-tablet.jpg);
width: 324px;
height: 267px;
}
}

@media (min-width:1200px) {
.gallery__picture2 {
background-image: url(../img/photo-2-desktop.jpg);
width: 400px;
height: 267px;
}
}

.gallery__picture3 {
background-image: url(../img/photo-3-mobile.jpg);
width: 280px;
height: 280px;
background-repeat: no-repeat;
}

@media (min-width:768px) {
.gallery__picture3 {
background-image: url(../img/photo-3-tablet.jpg);
width: 324px;
height: 267px;
}
}

@media (min-width:1200px) {
.gallery__picture3 {
background-image: url(../img/photo-3-desktop.jpg);
width: 400px;
height: 267px;
}}

.gallery__picture4 {
background-image: url(../img/photo-4-mobile.jpg);
width: 280px;
height: 280px;
background-repeat: no-repeat;
}

@media (min-width:768px) {
.gallery__picture4 {
background-image: url(../img/photo-4-tablet.jpg);
width: 324px;
height: 267px;
}
}

@media (min-width:1200px) {
.gallery__picture4 {
background-image: url(../img/photo-4-desktop.jpg);
width: 400px;
height: 267px;
}}

@media (min-width: 768px){
.gallery__image--grid {
grid-column-start: 1;
grid-column-end: 3;
}
}

@media (min-width: 1200px){
.gallery__image--grid {
grid-column-start: 1;
grid-column-end: 4;
}
}
