.gallery__wrapper {
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.gallery__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.gallery__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.gallery__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.gallery__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.gallery__likes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
}
