.gallery {
  @media (min-width: $desktop-width) {
    margin-bottom: -74px;
  }
}

.gallery__wrapper {
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.gallery__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .gallery__header {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 8px;
  }
}

.gallery__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 171px;
    padding-right: 171px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 382px;
    padding-right: 384px;
  }
}

.gallery__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  padding-top: 10px;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.gallery__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.gallery__likes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.gallery__button {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    padding-right: 5px;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    stroke: #ffffff;
  }
}
.gallery__image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.gallery__image--indentation {
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }
}

.gallery__container {
  padding-top: 54px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 71px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 648px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 73px;
    padding-left: 0;
    max-width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__image--grid {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .gallery__image--grid {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.gallery__box {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
    padding-left: 1px;
  }
}

.gallery__box_for_likes {
  display: flex;
  gap: 14px;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    gap: 4px;
  }
}

.gallery__box_for_text {
  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-left: 20px;
  }
}
