.impression__wrapper {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
}

.impression__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  display: block;
  text-align: center;
}

.impression__control {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
}

.impression__item {
  display: block;
  text-decoration: none;
}

.impression__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .impression__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media (min-width: $desktop-width) {
  .impression__list {
    display: flex;
    gap: 28px;
  }
}
