.impression__wrapper {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
}

.impression__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  display: block;
  text-align: center;
}

.impression__control {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
}

.impression__item {
  display: block;
  text-decoration: none;
}

@media (min-width: 768px) {
.impression__list {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
}

@media (min-width: 1200px) {
.impression__list {
display: flex;
gap: 28px;
}
}
