.impression__wrapper {
  padding: 24px 20px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 20px 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 97px;
    padding-right: 97px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.impression__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -17px;
    margin-bottom: 37px;
  }
}

.impression__control {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
  display: block;
}

.impression__text {
  position: relative;
  padding-left: 62px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  display: block;

  @media (min-width: $tablet-width) {
    padding-left: 138px;
    padding-top: 18.5px;
  }
}

.impression__text--tablet {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 96px;
  }
}
.impression__text::before {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-color: #f2f2ff;
  position: absolute;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    left: 76px;
    top: 7px;
  }
}

.impression__text::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #333333;
  position: absolute;
  left: 15px;
  top: 14px;
  opacity: 0;

  @media (min-width: $tablet-width) {
    left: 91px;
    top: 22px;
  }
}

.impression__text.impression__text--tablet::before {
  @media (min-width: $tablet-width) {
    left: 8px;
    top: 7px;
  }

  @media (min-width: $desktop-width) {
    left: 34px;
  }
}

.impression__text.impression__text--tablet::after {
  @media (min-width: $tablet-width) {
    left: 0px;
    top: 0px;
  }

  @media (min-width: $desktop-width) {
    left: 49px;
    top: 21px;
  }
}

.impression__item {
  display: block;
  text-decoration: none;
}

.impression__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;
}

@media (min-width: $tablet-width) {
  .impression__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 6px;
  }
}

@media (min-width: $desktop-width) {
  .impression__list {
    display: flex;
    gap: 28px;
  }
}

.impression__group {
  border-style: none;
  margin: 0;
  padding: 0;
}

.impression__radio:checked + .impression__text::after {
  opacity: 1;
}

.impression__text--last {
  @media (min-width: $desktop-width) {
    padding-left: 101px;
  }
}

span.impression__text.impression__text--last::before {
  @media (min-width: $desktop-width) {
    left: 39px;
    top: 7px;
  }
}

span.impression__text.impression__text--last::after {
  @media (min-width: $desktop-width) {
    left: 54px;
    top: 21px;
  }
}
