.main-header {
  background-color: #81b3d2;
  position: relative;

  @media (min-width: $tablet-width) {
    .main-header {
      background-color: #ffffff;
    }
  }
}

.main-header__logo {
  display: block;
  text-decoration: none;
  height: 96px;
}
