.main-footer{
  margin: 0 auto;
}

.main-footer__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
}

.main-footer__wrapper {
padding: 33px 82px;
gap: 30px;
display: flex;
flex-direction: column;
@media (min-width: $tablet-width)
{
display: flex;
align-items: baseline;
gap: 113px;
padding: 36px 60px;
flex-direction: row;
}
@media (min-width: $desktop-width){
gap: 269px;
padding: 36px 120px;
}
}

.main-footer__copyright {
  display: flex;
  gap: 12px;
}
