.main-container {
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 320px;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}
