.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal__failure {
  position: relative;
  margin: auto;
  padding: 42px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 18px 46px 32px;
  }
}

.modal__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-top: 34px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.modal__button {
  background-color: #81b3d2;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
  padding-left: 79px;
  padding-right: 78px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
  border-style: none;
  margin-top: 27px;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 18px 124px;
  }
}

.modal__close {
  display: none;
}
