.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal__failure {
  position: relative;
  margin: auto;
  padding: 42px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 18px 46px 32px;
  }
}

.modal__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-top: 34px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.modal__button {
  background-color: #81b3d2;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: $font-PTSans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
  padding-left: 79px;
  padding-right: 78px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
  border-style: none;
  margin-top: 27px;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 18px 124px;
  }
}

.modal--close {
  display: none;
}

.modal--send .modal__failure {
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal__btn-wrap {
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.modal__body {
  padding: 20px 37px 10px;

  @media (min-width: $tablet-width) {
    max-width: 493px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.modal--send .modal__button {
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

.modal__button:hover {
  background-color: #669ec0;
}

.modal__button:active {
  background-color: #5496bd;
  color: rgb(255, 255, 255, 0.3);
}

.modal__button--disabled {
  background-color: #e5e5e5;
}
