.review__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 36px;
}

.review__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.review__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.review__textarea {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(242, 242, 242, 1);
  padding: 16px;
}

.review__button {
  background-color: rgba(129, 179, 210, 1);
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'PT Sans';
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
  padding: 16px 49px;
}

.review__footnote {
  font-family: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
