.review__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 36px;
}

.review__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.review__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.review__textarea {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #0000004d;
  background-color: #f2f2f2;
  padding: 16px;
}

.review__button {
  background-color: #81b3d2;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: 'PT Sans';
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  width: max-content;
  padding: 16px 49px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .review__button {
    margin: 0;
  }
}

.review__footnote {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: end;
}
