.site-list {
  display: none;
  &::after {
    content: '';
    display: block;
    width: 100%;
    grid-column-start: 3;
    grid-row-start: 1;
  }


@media (min-width:$tablet-width) {
display: grid;
grid-template-columns: repeat(5, 153px);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
background: #fff;
}

@media (min-width: $desktop-width) {
  grid-template-columns: repeat(5, 240px);
}
}


.site-list__item {
display: block;
text-decoration: none;
padding-top: 17px;
padding-bottom: 12px;
min-width: 153px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, -0.8) 100%);
mix-blend-mode: normal;
box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
text-transform: uppercase;

@media (min-width: $tablet-width) {
  box-shadow: none;
  color: #3333;
}
}


.site-list__item:hover  {
  background-color: #669EC0;

  @media (min-width: $tablet-width) {
    background-color: #FFFFFF;
  }
}


.site-list__item:active  {
  background-color: #5496BD;

  @media (min-width: $tablet-width) {
    background-color: #FFFFFF;
  }
}


.site-list__item a {
  display: block;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color:#ffffff;
  }

  @media (min-width: $tablet-width){
    &:hover {
    color:#81B3D2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width:$tablet-width) {
    color:#000000;
  }
}

.site-list__item--active a {
@media (min-width:$tablet-width) {
  color: #766357;
}
}
}

.logo {
display: block;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}
