.social__list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.social__item {
  display: block;
  text-decoration: none;
  background-color: #81b3d2;
  padding-top: 13px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-left: 12px;
  fill: #fff;
}

.social__item:hover {
  background-color: #669ec0;
}

.social__item:active {
  background-color: #5496bd;
  fill: rgb(255, 255, 255, 0.3);
}
