.video__wrapper {
  padding-top: 17px;
  padding-left: 28px;
  padding-right: 26px;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}

.video__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
