.video__wrapper {
  padding-top: 17px;
  margin: 0 auto;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 83px;
  }
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 0;
  padding-bottom: 11px;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .video__title {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 7px;
  }
}

.video__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 377px;
    padding-right: 378px;
    padding-bottom: 73px;
  }
}

.video__picture {
  background-repeat: no-repeat;
  width: 280px;
  height: 177px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .video__picture {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .video__picture {
    width: 800px;
    height: 500px;
  }
}

.video__picture-wrap {
  position: relative;
}

.video__play {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
